.m-1{
    margin-left: 80px !important;
}
ul {
    text-align: center;
  }
  
  .textFieldSearch {
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    width: 300px;
  }
 
  .leftSlider {
    width: 1044px;
    height: 900px;
    margin: 1px;
    margin-left: 15px;
  
    background-color: black;
  }
  .titleTemp{
    width: 1044px;
    height: 60px;
    background-color: white;
  }
  .slideTemp{
    width: 1044px;
    height: 250px;
    background-color: lightslategray;
  }
  .slide1{
    width: 600px;
    height: 250px;
  }
  .slide2{
    width: 600px;
    height: 250px;
  }
  .slide3{
    width: 600px;
    height: 250px;
  }
  .rightSlider {
    margin: 2px;
    width: 300px;
    height: 900px;
    background-color: black;
  }
  .buttonReg {
    margin: 2px;
    width: 100px;
    height: 40px;
    color: white;
    padding: 2px;
    
  
   
  }
  .buttonLogin {
    margin: 2px;
    width: 100px;
    height: 40px;
    color:white;
    padding: 2px;
  
    
  }
  
  .dropdown {
    width: 200px;
    height: 20px;
    color: white;
  }
  .imgCircle{
    height: 40px;
    width: 400px;

  }
  
  